.me-2{
    width: 40px;
    height: 40px;
    border-radius:50%;
}
.tag-btn{
    height: 30px;
}
.chat-card{
    height:80vh;
}
.hospitalScore{
    background-color: #00D284;
}
.scores{
    border-right: 1px solid rgb(52, 52, 52);
}
