<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset=utf-8>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <form method="get" action="{% url 'result' %}">
            {% csrf_token %}
            <h5>Symptoms</h5>
            <select name="sym" multiple>
                <option value="Nausea">Nausea</option>
                <option value="Fever">Fever</option>
                <option value="Vomiting">Vomiting</option>
                <option value="Diarrhea">Diarrhea</option>
                <option value="Chills">Chills</option>
                <option value="Headache">Headache</option>
            </select>
            <button type="submit">Submit</button>
        </form>
        
    </body>
</html>