<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset=utf-8>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <form method="POST" action="/ml/diseases_pred">
            <h5>Symptoms</h5>
            <select name="sym" multiple>
                <% sym.forEach((symptom)=>{ %>
                    <option value="<%= symptom %>"><%= symptom %></option>
                <% }) %>
            </select>
            <button type="submit">Submit</button>
        </form>
        
    </body>
</html>