<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>Plus Admin</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="/assets/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="/assets/vendors/flag-icon-css/css/flag-icon.min.css">
    <link rel="stylesheet" href="/assets/vendors/css/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <link rel="stylesheet" href="/assets/vendors/jquery-bar-rating/css-stars.css" />
    <link rel="stylesheet" href="/assets/vendors/font-awesome/css/font-awesome.min.css" />
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.9.1/dist/chart.min.js"></script>
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="/assets/css/demo_1/style.css" />
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/fitbit.css">
    <script src="./charts.js"></script>
    <!-- End layout styles -->
    <link rel="shortcut icon" href="/assets/images/favicon.png" />
  </head>
  <body>
    <div class="container-scroller">
      <!-- partial:partials/_sidebar.html -->
      <%- include("partials/navbar") %>
        <!-- partial -->
        <div class="main-panel">
          <div class="content-wrapper pb-0">
            <div class="card" style="border-radius:20px">
                <div class="card-headern" style="background-color: #FF704F;color:white; padding: 15px;border-radius:20px">
                    <h4>Enter Patient and Surgical Information</h4>
                </div>
                <div class="card-body">
                    <form action="/user/health_risk" method="post">
                        <label for="exampleFormControlSelect1">Procedure (CPT Code)</label>
                        <select name="surgery" class="form-control form-control-lg" id="exampleFormControlSelect1">
                            <option value="78272 Vit B-12 absorp combined">78272	Vit B-12 absorp combined</option>
                            <option value="95831 Limb muscle testing manual">95831	Limb muscle testing manual</option>
                            <option value="95832 Hand muscle testing manual">95832	Hand muscle testing manual</option>
                            <option value="95833 Body muscle testing manual">95833	Body muscle testing manual</option>
                            <option value="95834 Body muscle testing manual">95834	Body muscle testing manual</option>
                            <option value="95851 Range of motion measurements">95851	Range of motion measurements</option>
                            <option value="95852 Range of motion measurements">95852	Range of motion measurements</option>
                            <option value="21243 Arthroplasty, temporomandibular joint, with prosthetic joint replacement">21243 Arthroplasty, temporomandibular joint, with prosthetic joint replacement</option>
                            <option value="26535 Arthroplasty, interphalangeal joint; each joint">26535 Arthroplasty, interphalangeal joint; each joint</option>
                            <option value="72170 X-ray exam of pelvis">72170	X-ray exam of pelvis</option>
                            <option value="73560 X-ray exam of knee 1 or 2">73560	X-ray exam of knee 1 or 2</option>
                        </select><br>
                        Are there other potential appropriate treatment options?
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-check form-check-flat form-check-primary">
                                    <label class="form-check-label">
                                        <input type="checkbox" class="form-check-input" /> Other Surgical Options </label>
                                  </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-check form-check-flat form-check-primary">
                                    <label class="form-check-label">
                                        <input type="checkbox" class="form-check-input" /> Other Non-operative options </label>
                                  </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-check form-check-flat form-check-primary">
                                    <label class="form-check-label">
                                        <input type="checkbox" class="form-check-input" /> None </label>
                                  </div>
                            </div>
                        </div><br>
                        <div class="row">
                            <div class="col-md-6">
                                <label for="ageGroup">Age Group</label>
                                <select name="age" class="form-control form-control-lg" id="ageGroup">
                                    <option value="50">Under 65 years</option>
                                    <option value="67">Under 65-74 years</option>
                                    <option value="79">Under 75-84 years</option>
                                    <option value="90">85 years or older</option>
                                </select><br>
                                <label for="sex">Sex</label>
                                <select class="form-control form-control-lg" id="sex">
                                    <option>Male</option>
                                    <option>Female</option>
                                    <option>Other</option>
                                </select><br>
                                <label for="emergencyCase">Emergency Case</label>
                                <select name="emer" class="form-control form-control-lg" id="emergencyCase">
                                    <option value="0">No</option>
                                    <option value="1">Yes</option>
                                </select><br>
                                <label for="patientClass">ASA Patient Class</label>
                                <select class="form-control form-control-lg" id="patientClass">
                                    <option>Healthy Patient</option>
                                    <option>Mild Systemic disease</option>
                                    <option>Severe Systemic disease</option>
                                    <option>Constant threat to life</option>
                                    <option>Moribund / not expected to survive surgery</option>
                                </select><br>
                                <label for="steroid">Steroid use for chronic condition</label>
                                <select class="form-control form-control-lg" id="steroid">
                                    <option>No</option>
                                    <option>Yes</option>
                                </select><br>
                                <label for="ventilator">Ventilator Dependent</label>
                                <select name="vent" class="form-control form-control-lg" id="ventilator">
                                    <option value="0">No</option>
                                    <option value="2">Yes</option>
                                </select><br>
                                <label for="cancer">Disseminated Cancer</label>
                                <select name="cancer" class="form-control form-control-lg" id="cancer">
                                    <option value="0">No</option>
                                    <option value="1">Yes</option>
                                </select><br>
                            </div>
                            <div class="col-md-6">
                                <label for="diabetes">Has Diabetes</label>
                                <select name="diab" class="form-control form-control-lg" id="diabetes">
                                    <option value="0">No</option>
                                    <option value="1">Oral</option>
                                    <option value="2">Insulin</option>
                                </select><br>
                                <label for="hypertension">Hypertension requiring medication </label>
                                <select name="hypt" class="form-control form-control-lg" id="hypertension">
                                    <option value="0">No</option>
                                    <option value="1">Yes</option>
                                </select><br>
                                <label for="heartFailure">Heart Failure in 30 days prior to surgery </label>
                                <select name="heartf" class="form-control form-control-lg" id="heartFailure">
                                    <option value="0">No</option>
                                    <option value="1">Yes</option>
                                </select><br>
                                <label for="currentSmoker">Current Smoker within 1 Year </label>
                                <select name="smoker" class="form-control form-control-lg" id="currentSmoker">
                                    <option value="0">No</option>
                                    <option value="1">Yes</option>
                                </select><br>
                                <label for="dialysis">Dialysis</label>
                                <select name="dial" class="form-control form-control-lg" id="dialysis">
                                    <option value="0">No</option>
                                    <option value="1">Yes</option>
                                </select><br>
                                <label for="renalFailure">Acute Renal Failure</label>
                                <select name="ren" class="form-control form-control-lg" id="renalFailure">
                                    <option value="0">No</option>
                                    <option value="1">Yes</option>
                                </select><br>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="weight">Weight (kg)</label>
                                            <input name="wt" type="text" class="form-control" id="weight" placeholder="weight" />
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="height">Height (cm)</label>
                                            <input name="ht" type="text" class="form-control" id="height" placeholder="height" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary"><a style="color: white; text-decoration: none">Calculate</a></button>
                        
                    </form>
                </div>
            </div>

          </div>
          <!-- partial -->
        </div>
        <!-- main-panel ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="/assets/vendors/js/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <script src="/assets/vendors/jquery-bar-rating/jquery.barrating.min.js"></script>
    <script src="/assets/vendors/chart.js/Chart.min.js"></script>
    <script src="/assets/vendors/flot/jquery.flot.js"></script>
    <script src="/assets/vendors/flot/jquery.flot.resize.js"></script>
    <script src="/assets/vendors/flot/jquery.flot.categories.js"></script>
    <script src="/assets/vendors/flot/jquery.flot.fillbetween.js"></script>
    <script src="/assets/vendors/flot/jquery.flot.stack.js"></script>
    <script src="/assets/js/jquery.cookie.js" type="text/javascript"></script>
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="/assets/js/off-canvas.js"></script>
    <script src="/assets/js/hoverable-collapse.js"></script>
    <script src="/assets/js/misc.js"></script>
    <script src="/assets/js/settings.js"></script>
    <script src="/assets/js/todolist.js"></script>
    <!-- endinject -->
    <!-- Custom js for this page -->
    <script src="/assets/js/dashboard.js"></script>
    <!-- End custom js for this page -->
  </body>
</html>