<html>
    <head>

    </head>
    <body>
        <h2>Login Page</h2>
        <form action="/login" method="post">
            <input name="username" type="text" placeholder="username" />
            <input name="password" type="password" placeholder="Password"/>
            <button type="submit">Login in</button>
        </form>
        <a href="/registeration">Sign up</a>
    </body>
</html>