<html>
    <head>

    </head>
    <body>
        <form method="post" action="/registeration/reg_user">
            <input name="name" type="text" placeholder="Name"/>
            <input name="email" type="email" value="apoorvsingh1120@gmail.com" />
            <select name="prof" >
                <option value="Patient">Patient</option>
                <option value="General Physician">General Physician</option>
                <option value="Cardiologist">Cardiologist</option>
                <option value="Dermatologists">Dermatologists</option>
                <option value="Orthopedic">Orthopedic</option>
              </select>
            <button type="submit">Register</button>
        </form>
    </body>
</html>