<html>
    <head>

    </head>
    <body>
        <form method="post" action="/registeration">
            <input name="username" type="email" placeholder="EMAIL"/>
            <input name="password" type="password" placeholder="EMAIL"/>
            <button type="submit">Register</button>
        </form>
    </body>
</html>