<html>
    <head>

    </head>
    <body>
        <h2>This is user's homepage</h2>

        <a href="/user/create_room">Create chat room</a>
        <a href="/user/chat">View Rooms</a>
        <a href="/logout">Logout</a>

        <br><br>
        <a href="/fitbit/home">FitBIT Home</a>
        <a href="https://accounts.google.com/o/oauth2/v2/auth?access_type=offline&scope=https%3A%2F%2Fwww.googleapis.com%2Fauth%2Ffitness.activity.read%20profile%20email%20openid%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Ffitness.activity.write%20profile%20email%20openid%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Ffitness.location.read%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Ffitness.location.write%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Ffitness.body.read%20profile%20email%20openid%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Ffitness.body.write%20profile%20email%20openid%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Ffitness.blood_glucose.read&state=%7B%7D&response_type=code&client_id=385413997223-482vhtj4oucaaidu10jvgu018cdh88cf.apps.googleusercontent.com&redirect_uri=http%3A%2F%2Flocalhost%3A3001%2Ffitbit%2Fconnect">
            Connect FitBIT
        </a>
    </body>
    <!-- <script>
        console.log("<%=  %>");
    </script> -->
</html>